<h1>Shark Attack Research using Decision Tree Model</h1>

<p>This research was done to understand the presence of sharks during tourist seaons. Locations considered for this reserach were middle Atlantic and south eastern coastal waters, specifically North Carolina and South Carolina.</p>

<p>Why decision trees?</p>
<p><ul>
    <li>Easy to understand
    <li>Easy to generated rules
    <li>They are very fast to build and test
    <li>Easy to visualize 
    <li>Output of a decision tree can be easily interpreted (by humans) as rules
    </ul></p>
    
<p> The library used is Sci-kit Learn which facilitates general purpose machine learning in Python. Model is build using decision tree classifier in python using scikit-learn machine learning packages.</p>

<p>This model uses 8 attributes 1 as the target attribute and 7 as feature attributes. </p>
<p>Target Attribute: Attack</p>
<p>Feature Attribute:<ul>
    <li>Precipitation_minmax
    <li>WindSpeed_minmax
    <li>Salinity_minmax
    <li>Turbidity_minmax
    <li>WaterTemp_minmax
    <li>Turtle_minmax
    <li>Crablandings_minmax</ul></p>

<h2>Following Python packages are used</h2>
<p>

<li><strong>NumPy</strong>
<ul>
    <li>NumPy is a Numeric Python module. It provides fast mathematical functions.</li>
    <li>We used numpy to read data files into numpy arrays and data manipulation.</li>
</ul>
</li>

<li><strong>Pandas</strong>
<ul>
    <li>Provides DataFrame Object for data manipulation</li>
    <li>DataFrames can hold different types data of multidimensional arrays.</li>
</ul>
</li>

<li> <strong>Scikit-Learn</strong>
<ul>
    <li>It is a machine learning library.</li>
    <li>We are using following from it:
    <ul>
        <li>train_test_split</li>
        <li>DecisionTreeClassifier</li>
        <li>accuracy_score algorithms</li>
        <li>confusion_matrix</li>
    </ul>
    </li>
</ul>
</li>

</p>


<h2>Importing Python Machine Learning Libraries</h2>

In [14]:
#Imports necessary libraries.
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

<h2>Reading the data from csv file and displaying the five rows as sample data.</h2>

In [15]:
data = pd.read_csv('WEKAFinalInputFile.csv',header=0, low_memory=False)
data.head()

,Unnamed: 0,X.2,X.1,X,Id,Date,ID,TurtleExactCountSC,turtleexactdiscretizeSC,TurtleExactCountNC,...,StationPressure_minmax,WindSpeed_minmax,Salinity_minmax,Turbidity_minmax,Dissolved02_minmax,WaterTemp_minmax,Turtle_minmax,Crablandings_minmax,turbidity_kmeans_binning,turbidty_domain
0,1,1,1,1,4,5/4/2009,25,0.0,Low,0.0,...,0.578947,0.333333,0.636021,0.032566,0.741354,0.576733,0.000000,0.933566,Low,Low
1,2,2,2,2,5,5/5/2009,33,0.0,Low,0.0,...,0.649123,0.202614,0.552312,0.037936,0.675088,0.477558,0.000000,0.114510,Low,Medium
2,3,3,3,3,7,5/7/2009,49,1.0,Low,0.0,...,0.508772,0.405229,0.496314,0.027615,0.703665,0.498185,0.000000,0.925699,Low,Low
3,4,4,4,4,8,5/8/2009,57,0.0,Low,0.0,...,0.508772,0.267974,0.579198,0.020119,0.788776,0.575743,0.000000,0.296329,Low,Low
4,5,5,5,5,11,5/11/2009,81,2.0,Low,0.0,...,0.614035,0.385621,0.597837,0.066004,0.822323,0.627393,0.004785,0.994755,Low,Medium

<h2>Display total rows and columns of dataset</h2>

In [16]:
#data.describe()
#train=data.sample(frac=0.8,random_state=200)
#test=data.drop(train.index)
#print(len(train))
#print(len(test))
print (data.shape)

(186, 73)

<h2>Extracting the necessary attributes</h2>

In [17]:
X = data[["WindSpeed_minmax","Turbidity_minmax","Turtle_minmax","Crablandings_minmax","WaterTemp_minmax","Precipitation_minmax","Salinity_minmax"]]
Y = data[["Attack"]]
X.head()
#X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.2, random_state = 100)

,WindSpeed_minmax,Turbidity_minmax,Turtle_minmax,Crablandings_minmax,WaterTemp_minmax,Precipitation_minmax,Salinity_minmax
0,0.333333,0.032566,0.000000,0.933566,0.576733,0.000000,0.636021
1,0.202614,0.037936,0.000000,0.114510,0.477558,0.054286,0.552312
2,0.405229,0.027615,0.000000,0.925699,0.498185,0.000000,0.496314
3,0.267974,0.020119,0.000000,0.296329,0.575743,0.000000,0.579198
4,0.385621,0.066004,0.004785,0.994755,0.627393,0.000000,0.597837

In [18]:
Y.head()

  Attack
0     No
1     No
2     No
3     No
4     No

<h2>Slicing data into training and test set</h2>

In [19]:
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.2, random_state = 100)

<h2>Training Decision Tree</h2>

In [27]:
decision_tree_model = DecisionTreeClassifier()
decision_tree_model.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

<h2>To predict target variable for the complete test data set</h2>

In [28]:
y_pred = decision_tree_model.predict(X_test)
y_pred

array(['No', 'Yes', 'No', 'No', 'No', 'No', 'No', 'Yes', 'No', 'Yes', 'No',
       'Yes', 'No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes',
       'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No'], dtype=object)

<h2>Calculating accuracy for Decision Tree Model</h2>

In [31]:
accuracy_score(y_test,y_pred)*100

92.10526315789474

<h2>Confusion matrix for Decision Tree Model</h2>

In [30]:
pd.DataFrame(
    confusion_matrix(y_test, y_pred),
    columns=['Predicted(Not Attacked)', 'Predicted(Attacked)'],
    index=['True(Not Attacked)', 'True(Attacked)'])

                    Predicted(Not Attacked)  Predicted(Attacked)
True(Not Attacked)                       17                    1
True(Attacked)                            2                   18

<h2>Conclusion</h2>
<p>Decision Trees performs well on this limited set of data. We would need more data to effectively evaluate this model.</p>
<p>In this research I have learned following things
 <ul>
<li>How to model the decision tree algorithm in Python using scikit learn. </li>
<li>How to split the data into training and test dataset </li>
<li>To model decision tree classifier </li>
<li>Calculate the accuracy and confusion matrix of decision tree</li>
</ul></p>